{% extends 'base.html' %}

{% block content %}

    <h1>Register</h1>

    <form action="" method="POST">
        {{ form.csrf_token }}
        <div class="form-group">
            <fieldset>
                {{ form.username(class='form-control', placeholder='Username') }}
            </fieldset>
            <fieldset>
                {{ form.password(class='form-control', placeholder='Password') }}
            </fieldset>
            <fieldset>
                {{ form.confirm_pass(class='form-control', placeholder='Confirm Password') }}
            </fieldset>
            <fieldset>
                {{ form.submit(class = 'btn btn-outline-success') }}
            </fieldset>
        </div>
    </form>
{% endblock content %}